<% layout('./layout/page') -%>
<% block('title', 'Chat') -%>

<script src="socket.io/socket.io.js"></script>

<div id="room">
    <ul></ul>
    <form>
        <input autocomplete="off" autofocus placeholder="Message..." class="form-control">
    </form>
</div>


<script>
    var socket = io.connect();

    var form = $('#room form');
    var ul = $('#room ul');

    form.submit(function () {
       var input = $(this).find(':input');
       var text = input.val();

       input.val('');

       socket.emit('message', text, function (data) {
           console.log(data);
           $('<li>', {text: text}).appendTo(ul);
       });

       return false;
    });

    socket.on('message', function (text) {
        $('<li>', {text: text}).appendTo(ul);
    });
</script>